/* level 1  */
/* h1{
    color: rgb(186, 4, 4);
}
button{
    color:rgb(9, 237, 16);
    background-color: black;
}
p{
    color: rgb(6, 19, 73);
}
body{
background-color: rgb(208, 198, 198);
}
 */
/* practice set 1. */

/* button{
    color:red;
    background-color: black;
} */
/* #box{
    color:black;
    background-color: red;
} */
/* *{
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 100px;
    text-align: justify;
    text-transform: capitalize;
}
#inner{
    font-size: 80px;
    text-align: center;
    text-transform: uppercase;

} */