/* display property box // padding // margin //display inline //block// inlineblock //display none //  visibility: hidden;etc.. */
/* *{
    padding: 0px;
    margin: 0px;
} */
/* universal selector is mandatonary */
/* #box1{
    border-width: 2px;
    border-style: dashed;
    border-color: black;
    background-color: red;
}
div{
    height: 100px;
    width: 100px;
    margin: 20px;
    padding: 25px;
    display: inline;
}
#box2{
     border-width: 2px;
    border-style: dashed;
    border-color: black;
    background-color: green;
}
#box3{
     border-width: 2px;
    border-style: dashed;
    border-color: black;
    background-color: blue;
} */