body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}
.mobile-panel {
  height: 650px;
  width: 300px;
  border: 3px solid black;
  border-radius: 12px;
}
/* first panel design */
.network-panel {
  height: 24px;
  width: 300px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  background-color: rgb(18, 140, 126);
  color: white;
}
/* set icon network panel */
.notify-icon {
  padding-right: 140px;
}
/* design notification-top -panel */
.top-notification-panel {
  height: 50px;
  width: 300px;
  background-color: rgb(18, 140, 126);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 18px;
}
.text-notify {
  padding-right: 100px;
}
/* main- top-section design */
.tone-section{
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  border-bottom: 0.12px solid rgb(81, 81, 81);
}
.tone-text{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  padding-right: 90px;
}
.para{
  color: grey;
  font-size: 10px;
  font-weight: 200;
  margin: 0px;
}
.tone-icon{
  font-size: 35px;
  color: rgba(128, 128, 128, 0.843);
}
.messages-main-section{
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  padding-right: 90px;
}
h6{
  margin-top: 10px;
  margin-left: 12px;
}