*{
    padding: 0;
    margin: 0;
}
body{
    margin: 160px 0 0 520px;
}
a{
    text-decoration: none;
    color: black;
}
.mainbox1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbox2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 255,0, 0.2);
    font-size: 174px;
    text-align: center;
    border-width: 0.2px;
    border-color: #f8f8f8;
    box-shadow: 5px 5px 10px #474343 , -5px -5px 10px #fff;
    border-style: solid;
    /* border-radius: 20%; */
    
}
.box2{
    height: 200px;
    width: 200px;
    background-color: aqua;
    font-size: 174px;
    text-align: center;
    border-width: 0.2px;
    border-color: #f8f8f8;
    box-shadow: 5px 5px 10px #474343 , -5px -5px 10px #fff;
    border-style: solid;
    /* border-radius: 20%; */
}
.box3{
    height: 200px;
    width: 200px;
    background-color: rgba(0, 0,150, 0.3);
    font-size: 174px;
    text-align: center;
    border-width: 0.2px;
    border-color: #f8f8f8;
    box-shadow: 5px 5px 10px #474343 , -5px -5px 10px #fff;
    border-style: solid;
    /* border-radius: 20%; */
}
.box4{
    height: 200px;
    width: 200px;
    background-color: rgba(255,0,0,0.2);
    box-shadow: 5px 5px 10px #474343 , -5px -5px 10px #fff;
    font-size: 165px;
    text-align: center;
    border-width: 0.2px;
    border-color: #f8f8f8;
    border-style: solid;
    /* border-radius: 20%; */
}