body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbox{
    height: 700px;
    width: 300px;
    /* background-color: aquamarine; */
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgba(246, 246, 246, 0.772);
}
.top-networkpanel{
       height: 20px;
       width: 300px;
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       padding-bottom: 5px;
}
.clock-icon{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 150px;
}
.battery-icon{
    font-size: 12px;
    padding-top: 10px;
    padding-right: 5px;
}
.wifi-icon{
    font-size: 12px;
    padding-top: 10px;
    padding-left: 2px;
}
.timer{
    font-size: 12px;
    padding-top: 10px;
}
.panel-2{
    height: 20px;
    width: 300px;
    display: flex;
    align-items: center;
    padding: 2px;
}
p{
    font-size: 12px;
    text-align: start;
    padding: 11px;
    padding-top: 14px;
}

.panel-2{
    font-size: 12px;
    padding-left: 10px;
}
/* .dots-icon{
    font-size: 12px;
} */

/* section three */
.inner-text{
    height: 35px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* /* call log* */
.call-log{
    height: 250px;
    width: 300px;
    padding-left: 12px;
    padding-right: 12px;
}
.call-set{
    height: 35px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}
.number-para{
    font-size: 10px;
    font-weight: 200;
    color: grey;
    margin-top: -14px;
    margin-left: -10px;
  }
.call-name{
    font-size: 16px;
}
.call-time{
    font-size: 8px;
}
.call-icon{
    font-size: 10px;
}
/* numpad */
/* body {
    margin-top: 10%;
  } */
.numpad-panel{
    height: 280px;
    width: 300px;
    background-color:white;
}
.container-num{
    display: flex;
    gap: 0px;
    padding: 4px;
    /* justify-content: center; */
    /* align-items: center; */
  }
  /* psudo class */
  .effect:hover {
    font-family: "Dancing Script", cursive;
    font-family: "Nunito", sans-serif;
    font-family: "Poppins", sans-serif;
  }
  .number0 {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    height: 18px;
    width: 75px;
  }
  .number1 {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    height: 18px;
    width: 75px;
  }
  .number2 {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    height: 18px;
    width: 75px;
  }
  .number3 {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    height: 18px;
    width: 75px;
  }
  p {
    font-size: 10px;
    font-weight: 200;
    color: grey;
    margin-top: -9px;
    margin-left: 12px;
  }
  /* button panel */
  .button-panel{
    height: 69px;
    width: 300;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15px;
    background-color:white;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .btn-box{
    width: 100px;
    height: 45px;
    border-radius: 25%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    background-color:black;
    margin: 5px;
    border: none;
    color: white;
  }