ul{
background-color: beige;
display: flex;
justify-content: space-evenly;
height: 50px;
width: 100%;
align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
    background-color: gray;
    font-size: 25px;
}
.outer{
    height: 300px;
    width: 300px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
        height: 150px;
        width: 150px;
        background-color: rgb(255, 3, 3);
}